<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= 'â­' * restaurant.rating %>
  </p>

  <p>
    <%= link_to 'see chef', chef_restaurant_path(restaurant) %>
  </p>

</div>
