<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="d-flex justify-content-between">
    <h1>Restaurants</h1>
    <%= link_to "Top Restaurants (5 stars)", top_restaurants_path, class: "d-flex btn btn-primary align-items-center" %>
  </div>

  <div id="restaurants">
    <% @restaurants.each do |restaurant| %>
      <hr>
      <%= render restaurant %>
      <p>
        <%= link_to "Show this restaurant", restaurant, class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>


  <hr>
  <br>

  <%= link_to "New restaurant", new_restaurant_path, class: 'btn btn-primary mb-5' %>

</div>
