<div class="container col-4 mt-5">
  <p style="color: green"><%= notice %></p>

  <%= render @restaurant %>

  <div class="d-flex justify-content-between mb-5">
    <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant), class: "btn btn-primary" %>
    <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary" %>
  </div>
    <%= button_to "Destroy this restaurant", @restaurant, method: :delete %>
</div>
